{% extends './index.html' %}
{% block content %}
{% if user.is_authenticated %}
<form method="post" action='' class='tweet-form'>
{% csrf_token %}
{{form.text}}
<input type='submit' class='button' id='tweet-button' value='Tweet'/>
</form>
{% else %}
<h3 id='log-in-to-tweet'><a href='/accounts/login/'>Log in</a> to tweet!</h3>
{% endif %}
{% if tweets.count == 0 %}
<h3>There are no tweets yet. Be the first!</h3>
{% else %}
<div class='feed'>
    {% for tweet in tweets %}
    {% if not tweet.replying_to %}
    <div class="tweet">
        <div class='tweet-header'>
            <h3><a href='/users/{{ tweet.author.username }}/'>@{{ tweet.author }}</a> says:</h3>
        </div>
        <div class='tweet-body'>
            <a href='/tweet/{{tweet.id}}/'>{{ tweet.text }}</a>
        </div>
        <div class='tweet-footer'>
        {% if user not in tweet.likes.all %}
        <a href='/tweet/like/{{ tweet.id }}/'><button class='like-button'>Like! {{ tweet.likes.count }}</button></a>
        {% else %}
        <a href='/tweet/unlike/{{ tweet.id }}/'><button class='unlike-button'>Unlike {{ tweet.likes.count }}</button></a>
        {% endif %}
        <a href='tweet/{{tweet.id}}/'><button>Reply {{ tweet.replies.count }}</button></a>
        <span>{{tweet.created_at }}</span>
        </div>
    </div>
    {% for reply in tweet.replies.all %}
    <div class="reply">
        <div class='reply-header'>
            <a href='/users/{{ reply.author.username }}/'>
            @{{ reply.author }}
            </a> replied:
        </div>
        <div class='reply-body'>
            <a href='/tweet/{{ reply.reference.id }}/' class='reply-body'>
                {{ reply.text }}
            </a>
        </div>
        <div class='reply-footer'>
        {% if user not in reply.likes.all %}
        <a href='/tweet/like/{{ reply.id }}/'><button class='like-button'>Like! {{ reply.likes.count }}</button></a>
        {% else %}
        <a href='/tweet/unlike/{{ reply.id }}/'><button class='unlike-button'>Unlike {{ reply.likes.count }}</button></a>
        {% endif %}
        <span>{{reply.created_at}}</span>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
    {% endif %}
</div>

{% endblock %}