<h1>Not Twitter.</h1>
{% if user.is_authenticated %}
<h3>Hello, {{ user.username }}!</h3>
<a href='/accounts/logout'><button>Log Out</button></a>
<a href='/tweet/'><button>New Tweet</button></a>
{% else %}
<h3>Hello, stranger!</h3>
<a href='/accounts/login'><button>Log In</button></a>
{% endif %}
{% if tweets.count == 0 %}
<h3>There are no tweets yet. Be the first!</h3>
{% endif %}
{% for tweet in tweets %}
<div classname="tweet" style='border: 1px solid black; margin: 10px; padding: 5px'>
    <h3><a href='/users/{{ tweet.author.username }}/'>@{{ tweet.author }}</a></h3>
    <h2>{{ tweet.text }}</h2>
    <p>{{ tweet.created_at }}</p>
    {% if user not in tweet.likes.all %}
    <a href='/tweet/like/{{ tweet.id }}/'><button>Like! {{ tweet.likes.count }}</button></a>
    {% else %}
    <a href='/tweet/unlike/{{ tweet.id }}/'><button>Unlike! {{ tweet.likes.count }}</button></a>
    {% endif %}
</div>
{% endfor %}
