{% extends './index.html' %}
{% block content %}
{% if unread.count == 0 %}
<h4>You're all caught up!</h4>
{% else %}
<h4>New Notifications:</h4>
{% for notification in unread %}
<div classname='notification' style='border: 1px solid black; padding: 0 10px 10px 10px; margin: 10px'>
    {% if notification.typeof == 'mention' %}
    <h4><a href='/users/{{ notification.sender.username }}'>@{{ notification.sender }}</a> mentioned you in a tweet:</h4>
    <div classname="tweet" style='border: 1px solid black; margin: 10px; padding: 5px'>
        <h3><a href='/users/{{ notification.reference.author.username }}/'>@{{ notification.reference.author.username }}</a></h3>
        <h2>{{ notification.reference.text }}</h2>
        <p>{{ notification.reference.created_at }}</p>
        {% if user not in tweet.likes.all %}
        <a href='/tweet/like/{{ notification.reference.id }}/'><button>Like! {{ notification.reference.likes.count }}</button></a>
        {% else %}
        <a href='/tweet/unlike/{{ notification.reference.id }}/'><button>Unlike! {{ notification.reference.likes.count }}</button></a>
        {% endif %}
    </div>
    {% endif %}
    <a href='/notifications/read/{{ notification.id }}/'><button>Mark as Read</button></a>
</div>
{% endfor %}
{% endif %}
<h4>All Notifications:</h4>
{% for notification in read %}
<div classname='notification' style='border: 1px solid black; padding: 0 10px 10px 10px; margin: 10px'>
    {% if notification.typeof == 'mention' %}
    <h4><a href='/users/{{ notification.sender.username }}'>@{{ notification.sender }}</a> mentioned you in a tweet:</h4>
    <p>{{ notification.reference.created_at }}</p>
    <h2>{{ notification.reference.text }}</h2>
    {% if user not in tweet.likes.all %}
    <a href='/tweet/like/{{ notification.reference.id }}/'><button>Like! {{ notification.reference.likes.count }}</button></a>
    {% else %}
    <a href='/tweet/unlike/{{ notification.reference.id }}/'><button>Unlike! {{ notification.reference.likes.count }}</button></a>
    {% endif %}
    {% endif %}
</div>
{% endfor %}
{% endblock %}