{% extends './index.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/register.css' %}" type="text/css" />
<form method="post" action=''>
    <h1>{{ header }}</h1>
    {% csrf_token %}
    <div class='form-group' id='username-input'>
        <label>Username:</label>
        {{form.username}}
    </div>
    <div class='form-group' id='email-input'>
        <label>Email address:</label>
        {{form.email}}
    </div>
    <div class='form-group' id='first-name-input'>
        <label>First Name:</label>
        {{form.first_name}}
    </div>
    <div class='form-group' id='last-name-input'>
        <label>Last Name:</label>
        {{form.last_name}}
    </div>
    <div class='form-group' id='password1-input'>
        <label>Password:</label>
        {{form.password1}}
    </div>
    <div class='form-group' id='password2-input'>
        <label>Confirm password:</label>
        {{form.password2}}
    </div>
    {% comment %} {{ form.as_p }} {% endcomment %}
    <input type='submit' class='button' value='Register'/>
</form>
{% endblock %}