{% extends './index.html' %}
{% block content %}
<div classname="tweet" style='border: 1px solid black; margin: 10px; padding: 20px; padding-top: 0'>
    <h3><a href='/users/{{ tweet.author.username }}/'>@{{ tweet.author }}</a> says:</h3>
    <p>{{ tweet.created_at }}</p>
    <h2>{{ tweet.text }}</h2>
    {% if user not in tweet.likes.all %}
    <a href='/tweet/like/{{ tweet.id }}/'><button>Like! {{ tweet.likes.count }}</button></a>
    {% else %}
    <a href='/tweet/unlike/{{ tweet.id }}/'><button>Unlike {{ tweet.likes.count }}</button></a>
    {% endif %}
</div>
<p>Reply:</p>
<form method="post" action="">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Reply"/>
</form>
{% for reply in tweet.replies.all %}
<div classname="reply" style='border: 1px solid black; margin: 10px; margin-left: 30px; padding: 20px; padding-top: 0'>
    <h3><a href='/users/{{ reply.author.username }}/'>@{{ reply.author }}</a> says:</h3>
    <p>{{ reply.created_at }}</p>
    <h2>{{ reply.text }}</h2>
    {% if user not in reply.likes.all %}
    <a href='/tweet/like/{{ reply.id }}/'><button>Like! {{ reply.likes.count }}</button></a>
    {% else %}
    <a href='/tweet/unlike/{{ reply.id }}/'><button>Unlike {{ reply.likes.count }}</button></a>
    {% endif %}
</div>
{% endfor %}
{% endblock %}