{% extends './index.html' %}
{% block content %}
<h1>@{{ currentuser.username }}'s Profile:</h1>
<h4>{{ currentuser.followers.count }} followers - {{ currentuser.following.count }} following</h4>
{% if currentuser == user %}
<p>This is you.</p>
{% elif currentuser in user.following.all %}
<a href='/users/unfollow/{{currentuser.username}}/'><button>Unfollow</button></a>
{% else %}
<a href='/users/follow/{{currentuser.username}}/'><button>Follow User</button></a>
{% endif %}
{% if tweets.count == 0 %}
<h3>This user has no tweets.</h3>
{% else %}
<h3>{{ tweets.count }} tweets:</h3>
{% for tweet in tweets %}
{% if not tweet.replying_to %}
<div classname="tweet" style='border: 1px solid black; margin: 10px; padding: 0 20px'>
    <h3><a href='/users/{{ tweet.author.username }}/'>@{{ tweet.author }}</a></h3>
    <a href='/tweet/{{tweet.id}}/'><h2>{{ tweet.text }}</h2></a>
    <p>
    {% if user not in tweet.likes.all %}
    <a href='/tweet/like/{{ tweet.id }}/'><button>Like! {{ tweet.likes.count }}</button></a>
    {% else %}
    <a href='/tweet/unlike/{{ tweet.id }}/'><button>Unlike! {{ tweet.likes.count }}</button></a>
    {% endif %}
    <span>{{ tweet.created_at }}</span>
    </p>
</div>
{% for reply in tweet.replies.all %}
<div classname="reply" style='border: 1px solid black; margin: 10px; margin-left: 50px; padding: 0 20px'>
    <p><strong><a href='/users/{{ reply.author.username }}/'>@{{ reply.author }}</a> replied:</strong>  {{ reply.text }}</p>
    <p>
        {% if user not in reply.likes.all %}
        <a href='/tweet/like/{{ reply.id }}/'><button>Like! {{ reply.likes.count }}</button></a>
        {% else %}
        <a href='/tweet/unlike/{{ reply.id }}/'><button>Unlike {{ reply.likes.count }}</button></a>
        {% endif %}
        <span>{{ reply.created_at }}</span>
    </p>
</div>
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% endblock %}