<h1>@{{ currentuser.username }}</h1>
{% if currentuser == user %}
<p>This is you.</p>
{% elif currentuser in user.following.all %}
<a href='/users/unfollow/{{currentuser.username}}/'><button>Unfollow</button></a>
{% else %}
<a href='/users/follow/{{currentuser.username}}/'><button>Follow User</button></a>
{% endif %}
<a href='/'>< Back to home</a>

<h3>{{currensuser.username}} is following these people:</h3>
{% for person in currentuser.following.all %}
<p>{{person.username}}</p>
{% endfor %}

{% for tweet in tweets %}
<div classname="tweet" style='border: 1px solid black; margin: 10px; padding: 5px'>
    <h3><a href='/users/{{ tweet.author.username }}/'>@{{ tweet.author }}</a></h3>
    <h2>{{ tweet.text }}</h2>
    <p>{{ tweet.created_at }}</p>
    {% if user not in tweet.likes.all %}
    <a href='/tweet/like/{{ tweet.id }}/'><button>Like! {{ tweet.likes.count }}</button></a>
    {% else %}
    <a href='/tweet/unlike/{{ tweet.id }}/'><button>Unlike! {{ tweet.likes.count }}</button></a>
    {% endif %}
</div>
{% endfor %}